@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Base/typography";

/*GENERAL*/
body{
  margin: 0;
  padding: 0;
  @include main-font;
}

a{
  text-align: center;
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
  &:visited{
    text-decoration: none;
  }
  &:focus{
    text-decoration: none;
  }
}

header{
  background-color: $header-color;
  display: flex;
  justify-content: center;
  h1{
    display: inline-block;
    font-size: 55px;
    font-weight: 600;
    color: $font-color;
    margin: 35px 0;
  }
}

/*INDEX*/
.menus-panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 65px;
  .menus{
    width: 75%;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @media (max-width: 992px){
      width: 90%;
    }
    div{
      display: inline-block;
      width: 35%;
      height: 300px;
      box-shadow: 0 0 5px 2px rgba(0,0,0,.2);
      @media (max-width: 576px){
        width: 80%;
      }
      &.enchanted-note{
        background-color: $enchanted-note-bg;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
          @include enchanted-note-font;
          color: $enchanted-note-primary-color;
          font-size: 20px;
          font-weight: normal;
        }
        h3{
          @include secondary-font;
          color: $enchanted-note-primary-color;
          font-size: 25px;
          font-weight: 100;
          text-transform: uppercase;
        }
        a{
          transform: scale(1);
          transition: transform 300ms;
          &:hover{
            cursor: pointer;
            transform: scale(1.2);
          }
        }
      }
      &.french-chic{
        background-color: $french-chic-bg;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (max-width: 576px){
          margin-top: 40px;
        }
        h2{
          @include french-chic-font;
          color: $french-chic-primary-color;
          font-size: 14px;
          font-weight: normal;
        }
        h3{
          @include french-chic-secondary-font;
          color: $french-chic-primary-color;
          font-size: 25px;
          font-weight: 500;
        }
        a{
          transform: scale(1);
          transition: transform 300ms;
          &:hover{
            cursor: pointer;
            transform: scale(1.2);
          }
        }
      }
      &.delight-of-taste{
        margin-top: 40px;
        background-color: $delight-of-taste-bg;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
          @include delight-of-taste-font;
          color: $delight-of-taste-primary-color;
          font-size: 20px;
          font-weight: normal;
        }
        h3{
          @include secondary-font;
          color: $delight-of-taste-primary-color;
          font-size: 25px;
          font-weight: normal;
        }
        a{
          transform: scale(1);
          transition: transform 300ms;
          &:hover{
            cursor: pointer;
            transform: scale(1.2);
          }
        }
      }
      &.palette-of-taste{
        margin-top: 40px;
        background-color: $palette-of-taste-bg;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
          @include palette-of-taste-font;
          color: $palette-of-taste-primary-color;
          font-size: 20px;
          font-weight: normal;
        }
        h3{
          @include secondary-font;
          color: $palette-of-taste-primary-color;
          font-size: 25px;
          font-weight: normal;
        }
        a{
          transform: scale(1);
          transition: transform 300ms;
          &:hover{
            cursor: pointer;
            transform: scale(1.2);
          }
        }
      }
    }
  }
  button{
    height: 60px;
    width: 350px;
    border: none;
    border-radius: 10px;
    background-color: $header-color;
    color: $font-color;
    font-size: 36px;
    margin-bottom: 50px;
    @media (max-width: 992px){
      height: 50px;
      max-width: 250px;
      font-size: 26px;
    }
    @media (max-width: 400px){
      height: 40px;
      max-width: 200px;
      font-size: 18px;
    }
  }
}

/*ENCHANTED-NOTE*/
#enchanted-note{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  h2{
    font-size: 45px;
    margin-bottom: 20px;
    &.heading{
      text-shadow: 0 0 10px rgba(0,0,0,.2);
    }
  }
  .enchanted-note-menu{
    width: 75%;
    background-color: $enchanted-note-bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.2);
    @include enchanted-note-font;
    color: $enchanted-note-primary-color;
    @media (max-width: 992px){
      width: 90%;
    }
    i{
      margin-top: 60px;
      font-size: 70px;
    }
    h2{
      margin-top: 10px;
      font-size: 55px;
      font-weight: bold;
    }
    section{
      width: 80%;
      h3{
        font-size: 35px;
        text-align: center;
      }
      p{
        display: inline-block;
        font-size: 24px;
        width: 85%;
        &.price{
          width: 10%;
          text-align: right;
          vertical-align: top;
        }
      }
      &.dessert p{
        width: 100%;
      }
    }
    h4{
      font-size: 47px;
      i{
        font-size: 62px;
      }
    }
  }
}

/*FRENCH-CHIC*/
#french-chic{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  h2{
    font-size: 45px;
    margin-bottom: 20px;
    &.heading{
      text-shadow: 0 0 10px rgba(0,0,0,.2);
    }
  }
  .french-chic-menu{
    width: 75%;
    background-color: $french-chic-bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.2);
    @include french-chic-font;
    color: $french-chic-primary-color;
    @media (max-width: 992px){
      width: 90%;
    }
    h2{
      margin-top: 60px;
      font-size: 55px;
      font-weight: bold;
    }
    section{
      width: 80%;
      h3{
        font-size: 35px;
        text-align: center;
      }
      p{
        display: inline-block;
        font-size: 24px;
        width: 85%;
        &.price{
          width: 10%;
          text-align: right;
          vertical-align: top;
        }
      }
      &.dessert p{
        width: 100%;
      }
    }
  }
}

/*DELIGHT-OF-TASTE*/
#delight-of-taste{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  h2{
    font-size: 45px;
    margin-bottom: 20px;
    &.heading{
      text-shadow: 0 0 10px rgba(0,0,0,.2);
    }
  }
  .delight-of-taste-menu{
    width: 75%;
    background-color: $delight-of-taste-bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.2);
    @include delight-of-taste-font;
    color: $delight-of-taste-primary-color;
    @media (max-width: 992px){
      width: 90%;
    }
    h2{
      margin-top: 60px;
      font-size: 55px;
      font-weight: bold;
    }
    section{
      width: 80%;
      h3{
        font-size: 35px;
        text-align: center;
      }
      p{
        display: inline-block;
        font-size: 24px;
        width: 85%;
        &.price{
          width: 10%;
          text-align: right;
          vertical-align: top;
        }
      }
    }
  }
}

/*PALETTE-OF-TASTE*/
#palette-of-taste{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  h2{
    font-size: 45px;
    margin-bottom: 20px;
    &.heading{
      text-shadow: 0 0 10px rgba(0,0,0,.2);
    }
  }
  .palette-of-taste-menu{
    width: 75%;
    background-color: $palette-of-taste-bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.2);
    @include palette-of-taste-font;
    color: $palette-of-taste-primary-color;
    @media (max-width: 992px){
      width: 90%;
    }
    h2{
      margin-top: 60px;
      font-size: 55px;
      font-weight: bold;
    }
    section{
      width: 80%;
      h3{
        font-size: 35px;
        text-align: center;
      }
      p{
        display: inline-block;
        font-size: 24px;
        width: 85%;
        &.price{
          width: 10%;
          text-align: right;
          vertical-align: top;
        }
      }
    }
  }
}

/*FOOTER*/
footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: $header-color;
  display: flex;
  justify-content: space-between;
  h6{
    margin: 25px 15px;
    font-weight: 500;
    font-size: 32px;
    text-transform: capitalize;
    color: $font-color;
    @media (max-width: 992px){
      font-size: 22px;
    }
    @media (max-width: 400px){
      font-size: 14px;
    }
  }
}
