/* FOOTER */
footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: $header-color;
  display: flex;
  justify-content: space-between;
  .footer__link{
    margin: 25px 15px;
    font-weight: 500;
    font-size: map-get($font-size-general, footer__link--x-large);
    text-transform: capitalize;
    color: $font-color;
    &:hover{
      animation: wiggle 300ms infinite;
    }
    @media (max-width: map-get($breakpoint, large)){
      font-size: map-get($font-size-general, footer__link--large);
    }
    @media (max-width: map-get($breakpoint, x-small)){
      font-size: map-get($font-size-general, footer__link--x-small);
    }
  }
}
