/* COLORS */
/* FONTS */
/* TEXT LINEAR GRADIENT */
/* EACH MENU PRESENTATION INDEX */
/* HOVER ON MENUS */
/* EACH MENU PAGE */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Devonshire&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@keyframes dots {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes wiggle {
  25% {
    transform: translateX(1%);
  }
  75% {
    transform: translateX(-1%);
  }
}
/*GENERAL*/
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  text-align: center;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}

/* HEADER */
header {
  background-color: #579C87;
  display: flex;
  justify-content: center;
}
header h1 {
  display: inline-block;
  font-size: 3.5em;
  font-weight: 600;
  color: #FDCB46;
  margin: 35px 0;
}

/* FOOTER */
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #579C87;
  display: flex;
  justify-content: space-between;
}
footer h6 {
  margin: 25px 15px;
  font-weight: 500;
  font-size: 1.6em;
  text-transform: capitalize;
  color: #FDCB46;
}
footer h6:hover {
  animation: wiggle 300ms infinite;
}
@media (max-width: 992px) {
  footer h6 {
    font-size: 1.2em;
  }
}
@media (max-width: 400px) {
  footer h6 {
    font-size: 0.9em;
  }
}

/* INDEX */
.menus-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 65px;
}
.menus-panel .menus {
  width: 75%;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (max-width: 992px) {
  .menus-panel .menus {
    width: 90%;
    padding: 50px 0;
  }
}
.menus-panel .menus section {
  display: inline-block;
  width: 35%;
  height: 300px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
@media (max-width: 576px) {
  .menus-panel .menus section {
    width: 80%;
  }
}
.menus-panel .menus section.enchanted-note {
  background-color: #FCDFDB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menus-panel .menus section.enchanted-note .enchanted-note-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transform 300ms;
}
.menus-panel .menus section.enchanted-note .enchanted-note-content:hover {
  transform: scale(1.2);
  opacity: 0.7;
}
.menus-panel .menus section.enchanted-note i {
  font-size: 2.5em;
  background: -webkit-linear-gradient(315deg, #EF475F, #F6916A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menus-panel .menus section.enchanted-note h2 {
  font-family: "Devonshire", cursive;
  color: #3D1319;
  font-size: 1.5em;
  font-weight: normal;
  margin: 0 0 0.5em 0;
}
.menus-panel .menus section.enchanted-note h3 {
  font-family: "Sriracha", cursive;
  color: #3D1319;
  font-size: 1.5em;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
}
.menus-panel .menus section.french-chic {
  background-color: #FFF5FE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menus-panel .menus section.french-chic .french-chic-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transform 300ms;
}
.menus-panel .menus section.french-chic .french-chic-content:hover {
  transform: scale(1.2);
  opacity: 0.7;
}
@media (max-width: 576px) {
  .menus-panel .menus section.french-chic {
    margin-top: 40px;
  }
}
.menus-panel .menus section.french-chic h2 {
  font-family: "Croissant One", cursive;
  background: -webkit-linear-gradient(315deg, #C67412, #6E4CCC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1em;
  font-weight: normal;
  margin: 0 0 0.5em 0;
}
.menus-panel .menus section.french-chic h3 {
  font-family: "Noto Serif", serif;
  color: #C67412;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}
.menus-panel .menus section.delight-of-taste {
  margin-top: 40px;
  background-color: #F9F9F9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menus-panel .menus section.delight-of-taste .delight-of-taste-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transform 300ms;
}
.menus-panel .menus section.delight-of-taste .delight-of-taste-content:hover {
  transform: scale(1.2);
  opacity: 0.7;
}
.menus-panel .menus section.delight-of-taste h2 {
  font-family: "Dancing Script", cursive;
  background: -webkit-linear-gradient(315deg, #0228DD, #229DF9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.2em;
  font-weight: normal;
  margin: 0 0 0.5em 0;
}
.menus-panel .menus section.delight-of-taste h3 {
  font-family: "Caveat", cursive;
  color: #229DF9;
  font-size: 2em;
  font-weight: normal;
  margin: 0;
}
.menus-panel .menus section.palette-of-taste {
  margin-top: 40px;
  background-color: #FDFFFD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menus-panel .menus section.palette-of-taste .palette-of-taste-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transform 300ms;
}
.menus-panel .menus section.palette-of-taste .palette-of-taste-content:hover {
  transform: scale(1.2);
  opacity: 0.7;
}
.menus-panel .menus section.palette-of-taste h2 {
  font-family: "Kaushan Script", cursive;
  background: -webkit-linear-gradient(315deg, #3D923A, #BEFF7F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.2em;
  font-weight: normal;
  margin: 0 0 0.5em 0;
}
.menus-panel .menus section.palette-of-taste h3 {
  font-family: "Caveat", cursive;
  color: #5ebe5b;
  font-size: 2em;
  font-weight: normal;
  margin: 0;
}
.menus-panel button {
  height: 60px;
  width: 350px;
  border: none;
  border-radius: 10px;
  background-color: #579C87;
  color: #FDCB46;
  font-size: 2.3em;
  margin-bottom: 50px;
}
.menus-panel button span {
  animation: dots 1.2s ease-in-out alternate infinite;
}
.menus-panel button span:nth-child(2) {
  animation-delay: 0.4s;
}
.menus-panel button span:nth-child(3) {
  animation-delay: 0.8s;
}
@media (max-width: 992px) {
  .menus-panel button {
    height: 50px;
    max-width: 250px;
    font-size: 1.8em;
  }
}
@media (max-width: 400px) {
  .menus-panel button {
    height: 40px;
    max-width: 200px;
    font-size: 1.3em;
  }
}

/*ENCHANTED-NOTE*/
#enchanted-note {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
#enchanted-note h2 {
  font-size: 45px;
  margin-bottom: 20px;
}
#enchanted-note h2.heading {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#enchanted-note .enchanted-note-menu {
  width: 75%;
  background-color: #FCDFDB;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  font-family: "Caveat", cursive;
  color: #3D1319;
  padding: 65px 0;
}
@media (max-width: 992px) {
  #enchanted-note .enchanted-note-menu {
    width: 90%;
  }
}
#enchanted-note .enchanted-note-menu i {
  margin-top: 60px;
  font-size: 70px;
  background: -webkit-linear-gradient(315deg, #EF475F, #F6916A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#enchanted-note .enchanted-note-menu h2 {
  margin-top: 10px;
  font-size: 55px;
  font-weight: bold;
  font-family: "Devonshire", cursive;
}
#enchanted-note .enchanted-note-menu section {
  width: 80%;
}
#enchanted-note .enchanted-note-menu section h3 {
  font-size: 35px;
  text-align: center;
  margin: 0;
}
#enchanted-note .enchanted-note-menu section.entree {
  margin-top: 100px;
}
#enchanted-note .enchanted-note-menu section.meal {
  margin-top: 75px;
}
#enchanted-note .enchanted-note-menu section.dessert {
  margin-bottom: 75px;
}
#enchanted-note .enchanted-note-menu section div.menu-section-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 992px) {
  #enchanted-note .enchanted-note-menu section div.menu-section-heading {
    flex-direction: column;
  }
}
#enchanted-note .enchanted-note-menu section div.menu-section-heading .before-entree-title, #enchanted-note .enchanted-note-menu section div.menu-section-heading .after-entree-title {
  width: 30%;
}
@media (max-width: 992px) {
  #enchanted-note .enchanted-note-menu section div.menu-section-heading .before-entree-title, #enchanted-note .enchanted-note-menu section div.menu-section-heading .after-entree-title {
    width: auto;
  }
}
#enchanted-note .enchanted-note-menu section div.menu-section-heading .entree-title hr {
  border: 1px solid #3D1319;
}
#enchanted-note .enchanted-note-menu section p {
  display: inline-block;
  margin: 10px 0;
  font-size: 24px;
  width: 85%;
}
#enchanted-note .enchanted-note-menu section p.price {
  font-size: 26px;
  font-weight: bold;
  width: 10%;
  text-align: right;
  vertical-align: top;
}
#enchanted-note .enchanted-note-menu section.dessert p {
  width: 100%;
}
#enchanted-note .enchanted-note-menu h4 {
  font-family: "Devonshire", cursive;
  font-size: 47px;
}
#enchanted-note .enchanted-note-menu h4 i {
  font-size: 62px;
}

/*FRENCH-CHIC*/
#french-chic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
#french-chic h2 {
  font-size: 55px;
  margin-bottom: 20px;
}
#french-chic h2.heading {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#french-chic .french-chic-menu {
  width: 75%;
  background-color: #FFF5FE;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  font-family: "Noto Serif", serif;
  padding: 65px 0;
}
@media (max-width: 992px) {
  #french-chic .french-chic-menu {
    width: 90%;
  }
}
#french-chic .french-chic-menu h2 {
  margin-top: 60px;
  font-size: 45px;
  font-family: "Croissant One", cursive;
  font-weight: bold;
  background: -webkit-linear-gradient(315deg, #C67412, #6E4CCC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#french-chic .french-chic-menu section {
  width: 80%;
}
#french-chic .french-chic-menu section h3 {
  font-size: 35px;
  text-align: center;
}
#french-chic .french-chic-menu section.entree {
  margin-top: 100px;
  color: #C67412;
}
#french-chic .french-chic-menu section.meal {
  margin-top: 75px;
  color: #A56799;
}
#french-chic .french-chic-menu section.dessert {
  margin-top: 75px;
  color: #6E4CCC;
}
#french-chic .french-chic-menu section p {
  display: inline-block;
  margin: 10px 0;
  font-size: 24px;
  width: 85%;
}
#french-chic .french-chic-menu section p.price {
  width: 10%;
  font-size: 26px;
  text-align: right;
  vertical-align: top;
}
#french-chic .french-chic-menu section.dessert p {
  width: 100%;
}

/*DELIGHT-OF-TASTE*/
#delight-of-taste {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
#delight-of-taste h2 {
  font-size: 45px;
  margin-bottom: 20px;
}
#delight-of-taste h2.heading {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#delight-of-taste .delight-of-taste-menu {
  width: 75%;
  background-color: #F9F9F9;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  font-family: "Caveat", cursive;
  padding: 65px 0;
}
@media (max-width: 992px) {
  #delight-of-taste .delight-of-taste-menu {
    width: 90%;
  }
}
#delight-of-taste .delight-of-taste-menu h2 {
  margin-top: 60px;
  font-size: 75px;
  font-weight: bold;
  background: -webkit-linear-gradient(315deg, #0228DD, #229DF9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#delight-of-taste .delight-of-taste-menu section {
  width: 80%;
}
#delight-of-taste .delight-of-taste-menu section h3 {
  font-size: 35px;
  font-weight: normal;
  text-align: center;
}
#delight-of-taste .delight-of-taste-menu section.entree {
  margin-top: 100px;
}
#delight-of-taste .delight-of-taste-menu section.meal {
  margin-top: 75px;
}
#delight-of-taste .delight-of-taste-menu section.dessert {
  margin-bottom: 75px;
}
#delight-of-taste .delight-of-taste-menu section p {
  display: inline-block;
  margin: 10px 0;
  font-size: 24px;
  width: 85%;
}
#delight-of-taste .delight-of-taste-menu section p.price {
  width: 10%;
  font-size: 26px;
  font-weight: 600;
  text-align: right;
  vertical-align: top;
}

/*PALETTE-OF-TASTE*/
#palette-of-taste {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
#palette-of-taste h2 {
  font-size: 45px;
  margin-bottom: 20px;
}
#palette-of-taste h2.heading {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#palette-of-taste .palette-of-taste-menu {
  width: 75%;
  background-color: #FDFFFD;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  font-family: "Caveat", cursive;
  padding: 65px 0;
}
@media (max-width: 992px) {
  #palette-of-taste .palette-of-taste-menu {
    width: 90%;
  }
}
#palette-of-taste .palette-of-taste-menu h2 {
  margin-top: 60px;
  font-size: 55px;
  font-weight: bold;
  background: -webkit-linear-gradient(315deg, #3D923A, #BEFF7F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#palette-of-taste .palette-of-taste-menu section {
  width: 80%;
}
#palette-of-taste .palette-of-taste-menu section h3 {
  font-size: 35px;
  font-weight: normal;
  text-align: center;
}
#palette-of-taste .palette-of-taste-menu section.entree {
  margin-top: 100px;
}
#palette-of-taste .palette-of-taste-menu section.meal {
  margin-top: 75px;
}
#palette-of-taste .palette-of-taste-menu section.dessert {
  margin-bottom: 75px;
}
#palette-of-taste .palette-of-taste-menu section p {
  display: inline-block;
  margin: 10px 0;
  font-size: 24px;
  width: 85%;
}
#palette-of-taste .palette-of-taste-menu section p.price {
  width: 10%;
  font-size: 26px;
  font-weight: 600;
  text-align: right;
  vertical-align: top;
}

/*# sourceMappingURL=style.css.map */
