/*DELIGHT-OF-TASTE*/
#delight-of-taste{
  @include menu-page-container;
  h2{
    font-size: map-get($font-size-general, h2-each-page-presentation);
    @include main-title;
  }
  .delight-of-taste__menu{
    @include menus-font;
    @include each-menu-display($delight-of-taste-bg);
    h2{
      font-size: map-get($font-size-delight-of-taste, h2-delight-of-taste__menu);
      margin-top: 60px;
      font-weight: bold;
      text-align: center;
      padding: 0.3rem;
      @include delight-of-taste-font;
      @include linear-gradient($delight-of-taste-primary-color, $delight-of-taste-third-color);
      @media (max-width: map-get($breakpoint, small)){
        font-size: map-get($font-size-delight-of-taste, h2-delight-of-taste__menu--small);
      }
    }
    section{
      width: 80%;
      h3{
        font-size: map-get($font-size-delight-of-taste, h3-delight-of-taste__menu);
        font-weight: normal;
        text-align: center;
        margin: 0;
      }
      &.menu__entree{
        margin-top: 100px;
        @include menu-heading-section($delight-of-taste-primary-color);
      }
      &.menu__meal{
        margin-top: 75px;
        @include menu-heading-section($delight-of-taste-secondary-color);
      }
      &.menu__dessert{
        margin: 75px 0;
        @include menu-heading-section($delight-of-taste-third-color);
      }
      p{
        display: inline-block;
        margin: 10px 0;
        font-size: map-get($font-size-delight-of-taste, delight-of-taste__paragraph);
        width: 85%;
        &.price{
          width: 10%;
          font-size: map-get($font-size-delight-of-taste, delight-of-taste__price);
          font-weight: 600;
          text-align: right;
          vertical-align: top;
        }
      }
    }
  }
}
