/*ENCHANTED-NOTE*/
#enchanted-note{
  @include menu-page-container;
  h2{
    font-size: map-get($font-size-general, h2-each-page-presentation);
    @include main-title;
  }
  .enchanted-note__menu{
    @include menus-font;
    @include each-menu-display($enchanted-note-bg, $enchanted-note-primary-color);
    i{
      margin-top: 60px;
      font-size: map-get($font-size-enchanted-note, enchanted-note__menu__logo--main);
      @include linear-gradient($enchanted-note-secondary-color, $enchanted-note-third-color);
    }
    h2{
      font-size: map-get($font-size-enchanted-note, h2-enchanted-note__menu);
      margin-top: 10px;
      font-weight: bold;
      text-align: center;
      @include enchanted-note-font;
      @media (max-width: map-get($breakpoint, small)){
        font-size: map-get($font-size-enchanted-note, h2-enchanted-note__menu--small);
      }
    }
    section{
      width: 80%;
      h3{
        font-size: map-get($font-size-enchanted-note, h3-enchanted-note__menu);
        text-align: center;
        margin: 0;
      }
      &.menu__entree{
        margin-top: 100px;
      }
      &.menu__meal{
        margin-top: 75px;
      }
      &.menu__dessert{
        margin: 75px 0;
        p{
          width: 100%;
        }
      }
      @include menu-heading-section($enchanted-note-primary-color);
      p{
        display: inline-block;
        margin: 10px 0;
        font-size: map-get($font-size-enchanted-note, enchanted-note__paragraph);
        width: 85%;
        &.price{
          font-size: map-get($font-size-enchanted-note, enchanted-note__price);
          font-weight: bold;
          width: 10%;
          text-align: right;
          vertical-align: top;
        }
      }
    }
    h4{
      @include enchanted-note-font;
      font-size: map-get($font-size-enchanted-note, h4-enchanted-note__menu);
      text-align: center;
      i{
        font-size: map-get($font-size-enchanted-note, enchanted-note__menu__logo--secondary);
      }
    }
  }
}
