/*FRENCH-CHIC*/
#french-chic{
  @include menu-page-container;
  h2{
    font-size: map-get($font-size-general, h2-each-page-presentation);
    @include main-title;
  }
  .french-chic__menu{
    @include french-chic-secondary-font;
    @include each-menu-display($french-chic-bg);
    h2{
      font-size: map-get($font-size-french-chic, h2-french-chic__menu);
      margin-top: 60px;
      font-weight: bold;
      text-align: center;
      @include french-chic-font;
      @include linear-gradient($french-chic-primary-color, $french-chic-third-color);
      @media (max-width: map-get($breakpoint, small)){
        font-size: map-get($font-size-french-chic, h2-french-chic__menu--small);
      }
    }
    section{
      width: 80%;
      h3{
        font-size: map-get($font-size-french-chic, h3-french-chic__menu);
        text-align: center;
        margin: 0;
      }
      &.menu__entree{
        margin-top: 100px;
        color: $french-chic-primary-color;
        @include menu-heading-section($french-chic-primary-color);
      }
      &.menu__meal{
        margin-top: 75px;
        color: $french-chic-secondary-color;
        @include menu-heading-section($french-chic-secondary-color);
      }
      &.menu__dessert{
        margin: 75px 0;
        color: $french-chic-third-color;
        @include menu-heading-section($french-chic-third-color);
        p{
          width: 100%;
        }
      }
      p{
        display: inline-block;
        margin: 10px 0;
        font-size: map-get($font-size-french-chic, french-chic__paragraph);
        width: 85%;
        &.price{
          width: 10%;
          font-size: map-get($font-size-french-chic, french-chic__price);
          text-align: right;
          vertical-align: top;
        }
      }
    }
  }
}
