/* FONTS */
@mixin main-font{
  font-family: 'Open Sans', sans-serif;
}
@mixin menus-font{
  font-family: 'Caveat', cursive;
}
@mixin enchanted-note-font{
  font-family: 'Devonshire', cursive;
}
@mixin enchanted-note-secondary-font{
  font-family: 'Sriracha', cursive;
}
@mixin french-chic-font{
  font-family: 'Croissant One', cursive;
}
@mixin french-chic-secondary-font{
  font-family: 'Noto Serif', serif;
}
@mixin delight-of-taste-font{
  font-family: 'Dancing Script', cursive;
}
@mixin palette-of-taste-font{
  font-family: 'Kaushan Script', cursive;
}

/* TEXT LINEAR GRADIENT */
@mixin linear-gradient($color1, $color2){
  background: -webkit-linear-gradient(315deg, $color1, $color2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* EACH MENU PRESENTATION INDEX */
@mixin menu-display($bg-color){
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* HOVER ON MENUS */
@mixin menu-hover{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 300ms, opacity 300ms 250ms;
  &:hover{
    transform: scale(1.2);
    opacity: 0.5;
  }
}

/* EACH MENU PAGE */
@mixin menu-page-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

@mixin main-title{
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 0 0 10px rgba(0,0,0,.2);
}

@mixin each-menu-display($bg-color, $color: black){
  width: 75%;
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px 2px rgba(0,0,0,.2);
  color: $color;
  padding: 65px 0;
  @media (max-width: map-get($breakpoint, large)){
    width: 90%;
  }
}

/* HEADING SECTION ON MENU PAGE */
@mixin menu-heading-section($underline-color){
  .entree__heading, .meal__heading, .dessert__heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    @media (max-width: map-get($breakpoint, small)){
      flex-direction: column;
    }
    .before-heading-title, .after-heading-title{
      width: 30%;
      img{
        max-width: 100%;
      }
      @media (max-width: map-get($breakpoint, small)){
        width: auto;
      }
    }
    .after-heading-title{
      text-align: right;
    }
    .heading-title{
      text-align: center;
      h3{
      display: inline;
      background: linear-gradient(to top, $underline-color 5%, transparent 5.01%) no-repeat;
      background-size: 0 100%;
      transition: background-size 300ms;
        &:hover{
        background-size: 100% 100%;
        }
      }
    }
  }
}
