/* COLORS */
$header-color: #579C87;
$font-color: #FDCB46;
$enchanted-note-bg: #FCDFDB;
$enchanted-note-primary-color: #3D1319;
$enchanted-note-secondary-color: #EF475F;
$enchanted-note-third-color: #F6916A;
$french-chic-bg: #FFF5FE;
$french-chic-primary-color: #C67412;
$french-chic-secondary-color: #A56799;
$french-chic-third-color: #6E4CCC;
$delight-of-taste-bg: #F9F9F9;
$delight-of-taste-primary-color: #0228DD;
$delight-of-taste-secondary-color: #0670F3;
$delight-of-taste-third-color: #229DF9;
$palette-of-taste-bg: #FDFFFD;
$palette-of-taste-primary-color: #3D923A;
$palette-of-taste-secondary-color: #BEFF7F;

/* BREAKPOINT */
$breakpoint: (
  "x-small": 400px,
  "small": 576px,
  "large": 992px,
);

/* FONT-SIZE */
$font-size-general: (
  "h1": 3.5rem,
  "h2-each-page-presentation": 3rem,
  "menus-prev__button": 2.3rem,
  "menus-prev__button--large": 1.8rem,
  "menus-prev__button--x-small": 1.3rem,
  "paragraph": 1.1rem,
  "footer__link--x-large": 1.6rem,
  "footer__link--large": 1.2rem,
  "footer__link--x-small": 0.9rem,
);

$font-size-enchanted-note: (
  /* INDEX PAGE */
  "enchanted-note__logo": 2.5rem,
  "h2-enchanted-note": 1.5rem,
  "h3-enchanted-note": 1.5rem,
  /* MENU PAGE */
  "enchanted-note__menu__logo--main": 5rem,
  "h2-enchanted-note__menu": 4rem,
  "h2-enchanted-note__menu--small": 3rem,
  "h3-enchanted-note__menu": 2rem,
  "enchanted-note__paragraph": 1.3rem,
  "enchanted-note__price": 1.4rem,
  "h4-enchanted-note__menu": 3rem,
  "enchanted-note__menu__logo--secondary": 3rem,
);

$font-size-french-chic: (
  /* INDEX PAGE */
  "h2-french-chic": 1rem,
  "h2-french-chic--large": 0.8rem,
  "h3-french-chic": 1.5rem,
  /* MENU PAGE */
  "h2-french-chic__menu": 3.5rem,
  "h2-french-chic__menu--small": 2.5rem,
  "h3-french-chic__menu": 2rem,
  "h3-french-chic__menu--small": 1.5rem,
  "french-chic__paragraph": 1.3rem,
  "french-chic__price": 1.4rem,
);

$font-size-delight-of-taste: (
  /* INDEX PAGE */
  "h2-delight-of-taste": 1.2rem,
  "h3-delight-of-taste": 2rem,
  /* MENU PAGE */
  "h2-delight-of-taste__menu": 4.5rem,
  "h2-delight-of-taste__menu--small": 3.5rem,
  "h3-delight-of-taste__menu": 2rem,
  "delight-of-taste__paragraph": 1.3rem,
  "delight-of-taste__price": 1.4rem,
);

$font-size-palette-of-taste: (
  /* INDEX PAGE */
  "h2-palette-of-taste": 1.2rem,
  "h3-palette-of-taste": 2rem,
  /* MENU PAGE */
  "h2-palette-of-taste__menu": 4.8rem,
  "h2-palette-of-taste__menu--small": 3.8rem,
  "h3-palette-of-taste__menu": 2rem,
  "palette-of-taste__paragraph": 1.3rem,
  "palette-of-taste__price": 1.4rem,
);
