/* COLORS */
$header-color: #579C87;
$font-color: #FDCB46;
$enchanted-note-bg: #FCDFDB;
$enchanted-note-primary-color: #3D1319;
$enchanted-note-secondary-color: #EF475F;
$enchanted-note-tertiary-color: #F6916A;
$french-chic-bg: #FFF5FE;
$french-chic-primary-color: #C67412;
$french-chic-secondary-color: #A56799;
$french-chic-tertiary-color: #6E4CCC;
$delight-of-taste-bg: #F9F9F9;
$delight-of-taste-primary-color: #0228DD;
$delight-of-taste-secondary-color: #229DF9;
$palette-of-taste-bg: #FDFFFD;
$palette-of-taste-primary-color: #3D923A;
$palette-of-taste-secondary-color: #BEFF7F;
